/* CSS Document */
@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input{-webkit-appearance:none; resize: none;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header, menu,nav,section{margin:0; padding:0; border:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0); outline:none; resize: none;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#666; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-weight:normal;line-height: 1.1}
img{border: none; vertical-align:middle;}
input,textarea,select{ font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;}

html {
	-webkit-tap-highlight-color: transparent;
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
}
body {
	font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.12em;
	line-height: 1;
	color: #333;
	background-color: #ebebeb;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}


/* 浮动 */
.fl{ float:left;}
.fr{ float:right;}

/* 定位居中 */
.center{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.ver_center{ position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);}
.hor_center{ position:absolute; left:50%; transform:translateX(-50%);-webkit-transform:translateX(-50%); -moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);}

.pd{ padding: 0 0.2rem;}